body {
max-width: 60em;
margin: 0 auto 0 auto;
}


table, th, td {
border-collapse: collapse;
border: 1px solid #000000;
padding: 1em;
color: rgb(0, 0, 0);
background-color: beige;
font-size: 125%; width: 75%;
font-family: cursive;
}
/*the back round color is quite useles here because you can only see it when you scroll past the page */
body {
    background-color: beige;
    background-image: url(poe.jpg);
    background-position: right, top;
    background-size: 30%;
}
    
   
p,a,h2 { 
    font-size: 125%;
    width: 75%;
    color: rgb(0, 0, 0);
    background-color: aqua; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* this chages the size and fot of the header*/
h1{
    font-size: 250%;
    width: 75%;
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
}
