body {
max-width: 60em;
margin: 0 auto 0 auto;
}

table, th, td {
border-collapse: collapse;
border: 1px solid #ffffff;
padding: 1em;
color: white;
}
body {
    width: 100%;
    background-image: url("poe.jpg");
    background-color: #ffffff;
    background-size: 100%;
   }
p,h1,a,h2 { 
    color: rgb(255, 0, 0);
}